@model MyCoffee.Models.ProductVM
@{
    ViewData["Title"] = "Delete";
    Layout = "~/Areas/Admin/Views/Layout.cshtml";
}

<section class="content">
      <div class="container-fluid">
        <div class="row">
          <div class="col-12">
              <br />
<h2>Delete Product</h2>

<form  asp-controller="Product" asp-action="Delete" method="post">

    <div class="mb-3">
        <label asp-for=Name class="form-label">Product Name</label>
        <input type="text" class="form-control" id="Name" asp-for=Name readonly \>
        <br />
        <label asp-for=Price class="form-label">Product Price</label>
        <input type="text" class="form-control" id="Price" asp-for=Price readonly \>
     
       
        <br />
        <br />
        <div class="form-check">
            <input class="form-check-input" type="checkbox" asp-for="IsActive" id="IsActive"  disabled>
            <label class="form-check-label" asp-for=IsActive>
                Product IsActive
            </label>

        </div>
        <br />
        <label asp-for=Description class="form-label">Product Description</label>
        <textarea class="form-control" id="Description" asp-for=Description readonly> insert your Description</textarea>

        <br />
        <label asp-for=CategoryId class="form-label"> Category</label>

        <select asp-items="(SelectList)ViewBag.CategoryList" class="form-control" id="CategoryId" asp-for=CategoryId disabled>

            <option>choose CategoryName</option>


        </select>
       
        <br />
       

        <label asp-for=PhotoUrl class="form-label">Product Photo</label>
        <input type="file" class="form-control" id="PhotoUrl" asp-for=PhotoUrl disabled \>
        <br />
             <img src="~/Photo/@Model.Photo">

     
    </div>

    
    <center>
        <button type="submit" class="btn btn-danger" >Delete</button>
        <a   class="btn btn-primary" href="/Admin/Product/Index" >Cancle</a>
        <br />
        <br />
    </center>
    
</form>
</div>
</div>
</div>
</section>

